{% extends "FrontBundle::layout.html.twig" %}
{% block body %}
    <div class="main">
        <div class="row pt-2">
            <h3 class="center">{{ 'user.title.login'|trans }}</h3>
            <div class="col-lg-4 offset-lg-4">
                <div class="card mt-1">

                    <div class="card-block">
                        {% if error %}
                            <div class="form-group error-message animated jello">
                                <p>{{ error.message|trans }}</p>
                            </div>
                        {% endif %}
                        <form action="{{ path('front_login') }}" method="post">
                            <div class="form-group">
                                <label class="sr-only" for="email">Email</label>
                                <input type="text" class="login-field" value="{{ last_username }}"
                                       placeholder="{{ 'user.form.placeholder.email'|trans }}"
                                       id="username" name="_username">
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="password">{{ 'user.form.placeholder.password'|trans }}</label>
                                <input type="password" class="login-field" value=""
                                       placeholder="{{ 'user.form.placeholder.password'|trans }}" id="password"
                                       name="_password">
                            </div>

                            <input class="btn btn-tc btn-block" type="submit" value="{{ 'user.action.login'|trans }}"/>
                            <a class="login-link center" href="{{ path('front_reset_password') }}">{{ 'user.paragraph.reset_password'|trans }}</a>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}