{% extends "FrontBundle::layout.html.twig" %}
{% block body %}
    <div class="main">
        <div class="row pt-2">
            <h3 class="center">{{ 'user.title.register'|trans }}</h3>
            <div class="col-lg-4 offset-lg-4">
                <div class="card mt-1">

                    <div class="card-block">
                        {{ form_start(form) }}
                        {% if errors is not null %}
                            {% for error in errors %}
                                <div class="form-group error-message animated jello"><p>{{ error.message|trans }}</p></div>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group{% if form.email.vars.errors|length %} has-danger{% endif %}">
                            {{ form_widget(form.email) }}
                        </div>
                        <div class="form-group{% if form.firstName.vars.errors|length %} has-danger{% endif %}">
                            {{ form_widget(form.firstName) }}
                        </div>
                        <div class="form-group{% if form.lastName.vars.errors|length %} has-danger{% endif %}">
                            {{ form_widget(form.lastName) }}
                        </div>
                        <div class="form-group{% if form.password.first.vars.errors|length %} has-danger{% endif %}">
                            {{ form_widget(form.password.first) }}
                        </div>
                        <div class="form-group{% if form.password.first.vars.errors|length %} has-danger{% endif %}">
                            {{ form_widget(form.password.second) }}
                        </div>

                        <input class="btn btn-tc btn-primary btn-block" type="submit" value="{{ 'user.action.register'|trans }}"/>
                        <a class="login-link center"
                           href="{{ path('front_login') }}">{{ 'user.paragraph.already_registered'|trans }}</a>
                        {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
