{% extends '@Front/layout.html.twig' %}

{% block body %}
    {% set challenge = challengeSubject.challenge %}
    <div class="main">
        <div class="page-title">
            <h2>
                <span class="clearfix subtitle">{{ ('challenge_frequency_type.element.'~challenge.frequency)|trans }}
                    #{{ challengeNumber }}</span>
                {{ challengeSubject.name }}
            </h2>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="card">
                    {% if challengeSubject.coverPicture is not null %}
                        <img class="card-img img-fluid" src="{{ challengeSubject.coverPicture.url }}"
                             alt="{{ challengeSubject.slug }}" style="width: 100%;">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="card text-xs-center">
                    <div class="card-block">
                        <h4 class="card-title">{{ ('challenge_subject.title.the_subject_'~challenge.frequency|lower)|trans }}</h4>
                        <p class="card-text">
                            {{ challengeSubject.subject }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {% if challengeSubject.open or challengeSubject.past %}
            <section>
                <h2 class="section-title">{{ 'picture.title.subject_pictures'|trans }}</h2>
                {% if challengeSubject.open %}
                    <div class="row">
                        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                            <div class="card text-xs-center">
                                <div class="card-block">
                                    <p class="card-text">
                                        <a href="{{ path('front_post_add') }}" class="btn btn-tc btn-primary">Soumettre
                                            photo</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="grid">
                    {% for post in posts %}
                        {% include 'FrontBundle:Post:thumbnail.html.twig' with { 'post': post } %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}

    </div>
{% endblock %}