{% extends '@Front/layout.html.twig' %}

{% block page_title %}
    {% set challenge = challengeSubject.challenge %}
    {% set subjectName = challengeSubject.name ~ ' - ' ~ ('challenge_frequency_type.element.'~challenge.frequency)|trans ~ ' #' ~ challengeNumber %}
    {{ subjectName }}
{% endblock %}

{% block body %}
    {% set challenge = challengeSubject.challenge %}
    <div class="main">
        <div class="page-title">
            <h2>
                <span class="clearfix subtitle">{{ ('challenge_frequency_type.element.'~challenge.frequency)|trans }}
                    #{{ challengeNumber }}</span>
                {{ challengeSubject.name }}
            </h2>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="card">
                    {% if challengeSubject.coverPicture is not null %}
                        <img class="card-img img-fluid"
                             src="{{ challengeSubject.coverPicture.url(storage_bucket_name) }}"
                             alt="{{ challengeSubject.slug }}" style="width: 100%;">
                    {% else %}
                        <img class="card-img img-fluid"
                             src="{{ asset('bundles/front/img/default-subject.jpg') }}"
                             alt="{{ challengeSubject.slug }}" style="width: 100%;">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="card text-xs-center">
                    <div class="card-block">
                        <h4 class="card-title">{{ ('challenge_subject.title.the_subject_'~challenge.frequency|lower)|trans }}</h4>
                        <p class="card-text">
                            {{ challengeSubject.subject }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <section>
            <div class="row">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="progress-bar-main-container">
                        <div class="row-fluid wrap">
                            <div class="col-xs-4 col-md-3" style="padding: 0;">
                                <div class="progress-bar-number">{{ challengeSubject.startSubmissionDate|localizeddate('long', 'none', app.request.locale) }}</div>
                            </div>
                            <div class="col-xs-4 col-md-6">
                                {% set begin = date(challengeSubject.startSubmissionDate).timestamp %}
                                {% set now = date().timestamp %}
                                {% set end = date(challengeSubject.endSubmissionDate).timestamp %}
                                {% set percent = (now-begin) / (end-begin) * 100 %}
                                {% if  percent < 0%}
                                    {% set percent = 0 %}
                                {% endif %}
                                <div class="progress-bar-container">
                                    <div class="progress-bar" style="width: {{ percent }}%;"></div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-3" style="padding: 0;">
                                <div class="progress-bar-number">{{ challengeSubject.endSubmissionDate|localizeddate('long', 'none', app.request.locale) }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% if challengeSubject.open or challengeSubject.past %}
            <section>
               {% if posts is not empty or (challengeSubject.open and is_granted('ROLE_USER'))%}
                    <h2 class="section-title">{{ 'picture.title.subject_pictures'|trans }}</h2>
               {% endif %}
                {% if challengeSubject.open and is_granted('ROLE_USER') %}
                    <div class="row">
                        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                            <div class="card text-xs-center">
                                <div class="card-block">
                                    <p class="card-text">
                                        <a href="{{ path('front_post_add') }}" class="btn btn-tc btn-primary">Soumettre
                                            photo</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="grid">
                    {% for post in posts %}
                        {% include 'FrontBundle:Post:thumbnail.html.twig' with { 'post': post } %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}

    </div>
{% endblock %}