{% if display is not defined %}
    {% set display = 'active' %}
{% endif %}
<div class="col-xs-12 col-lg-4 {{ display }}">
    <div class="card">
        {% if challengeSubject.coverPicture is not null %}
            <img class="card-img-top img-fluid" src="{{ challengeSubject.coverPicture.url(storage_bucket_name) }}"  alt="{{ challengeSubject.slug }}" style="width: 100%;">
        {% else %}
            <img class="card-img-top img-fluid" src="{{ asset('bundles/front/img/default-subject.jpg') }}"  alt="{{ challengeSubject.slug }}" style="width: 100%;">
        {% endif %}
        <div class="card-block">
            <div class="text-xs-center">
                <h4 class="card-title">{{ challengeSubject.name }}</h4>
                <p class="card-text" style="min-height: 100px;">{{ challengeSubject.description }}</p>
                <a href="{{ path('front_challenge_subject_show', {'challengeSlug': challengeSubject.challenge.slug,'idChallenge': challengeSubject.id, 'ChallengeSubjectSlug': challengeSubject.slug }) }}" class="btn btn-tc btn-primary btn-block">
                    {{ ('challenge_subject.action.show_'~challengeSubject.state)|trans }}
                </a>
            </div>
        </div>
    </div>
</div>