{{ form_start(form) }}
<div class="center">
    {% if errors is not null %}
        {% for error in errors %}
            <div class="control-group error-message animated jello"><p>{{ error.message|trans }}</p></div>
        {% endfor %}
    {% endif %}
    {{ form_errors(form) }}
    <div class="form-group{% if form.title.vars.errors|length %} has-danger{% endif %}">
        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}
    </div>
    <div class="form-group{% if form.challengeSubject.vars.errors|length %} has-danger{% endif %}">
        {{ form_widget(form.challengeSubject) }}
        {{ form_errors(form.challengeSubject) }}
    </div>
    <div class="form-group{% if form.coverPicture.file.vars.errors|length %} has-danger{% endif %}">
        {{ form_widget(form.coverPicture.file) }}
        {{ form_errors(form.coverPicture.file) }}
    </div>
    <input class="btn btn-outline-secondary" type="submit" value="{{ 'post.action.publish'|trans }}"/>
    {{ form_end(form) }}
</div>
{{ form(form) }}