{% extends '@Front/layout.html.twig' %}

{% block body %}
    <div class="main">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card mt-1">

                    <div class="card-block">
                        {{ form_start(form) }}
                        {% if errors is not null %}
                            {% for error in errors %}
                                <div class="control-group error-message animated jello"><p>{{ error.message|trans }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group{% if form.oldPassword.vars.errors|length %} has-danger{% endif %}">
                            {{ form_row(form.oldPassword) }}
                        </div>
                        <div class="form-group{% if form.newPassword.first.vars.errors|length %} has-danger{% endif %}">
                            {{ form_row(form.newPassword.first) }}
                        </div>
                        <div class="form-group{% if form.newPassword.first.vars.errors|length %} has-danger{% endif %}">
                            {{ form_row(form.newPassword.second) }}
                        </div>
                        <input class="btn btn-outline-secondary btn-block" type="submit"
                               value="{{ 'user.action.change_password'|trans }}"/>
                        {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}