<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ app_name }}</title>
    <meta name="description" content="{{ app_description }}"/>
    <link rel="shortcut icon" href="{{ asset('bundles/front/img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('bundles/front/img/favicon.ico') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700|Satisfy" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.css') }}" type="text/css"/>
    <link href="https://file.myfontastic.com/6FgmP4oJ7DyT3k5QBFvddi/icons.css" rel="stylesheet">
    {% stylesheets filter='scssphp' output="css/app.css"
        'public/css/animate.css'
        'public/css/iconfont.css'
        '@FrontBundle/Resources/public/css/*'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
</head>
<body class="{% block body_class %}{% endblock %}">
<div class="container">
    <header>
        <a href="{{ path('front_homepage') }}">
            <div id="logo"><img src="{{ asset('bundles/front/img/logo.png') }}" alt="Homepage"></div>
            <h1>{{ app_name }}</h1>
        </a>
        <div id="cd-hamburger-menu"><a class="cd-img-replace" href="#">Menu</a></div>
    </header>

    {% set currentPath = app.request.attributes.get('_route') %}
    <nav id="main-nav">
        <ul>
            <li class="{% if currentPath == 'front_homepage'  %}active{% endif %}">
                <a href="{{ path('front_homepage') }}"><i class="icon-home icon-1_5x"></i></a>
            </li>
            <li class="{% if currentPath == 'front_user_profile' or currentPath == 'front_login' or currentPath == 'front_register' %}active{% endif %}">
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('front_user_profile', {'userId': app.user.id, 'fullName': app.user.fullName|lower|replace({' ':''})}) }}">
                        <i class="icon-user icon-1_5x"></i>
                    </a>
                {% else %}
                    <a href="{{ path('front_login') }}">
                        <i class="icon-user icon-1_5x"></i>
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>
    {% block body %}{% endblock %}
</div><!-- /container -->
{% block footer_javascripts %}
    {% javascripts
        'public/js/jquery-3.1.1.min.js'
        '@FrontBundle/Resources/public/js/modernizr.js'
        '@FrontBundle/Resources/public/js/main.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}
    <script>
        function squareGrid() {
            $('.grid-item').each(function() {
                var childImg = $(this).find('.grid-item-picture');
                if (childImg.width() < childImg.height()) {
                    childImg.addClass('portrait');
                }
                $(this).css({'height':$(this).width()+'px'});
            });
        }
        $(document).ready(function () {
            squareGrid();
            $( window ).resize(function() {
                squareGrid();
            });
        });

    </script>
{% endblock %}
</body>
</html>