<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ app_name }}</title>
    <meta name="description" content="{{ app_description }}"/>
    <link rel="shortcut icon" href="{{ asset('bundles/front/img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('bundles/front/img/favicon.ico') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700|Satisfy" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.css') }}" type="text/css"/>
    <link href="https://file.myfontastic.com/6FgmP4oJ7DyT3k5QBFvddi/icons.css" rel="stylesheet">
    {% stylesheets filter='cssrewrite, scssphp' output="css/app.css"
    'public/css/animate.css'
    'public/css/iconfont.css'
    'public/css/dropzone.min.css'
    'bundles/front/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

{% if form is defined %}
    {% form_theme form '@Front/Twig/form/fields.html.twig' %}
{% endif %}

<body class="{% block body_class %}{% endblock %}">
<div class="container-fluid">
    <header>
        <a href="{{ path('front_homepage') }}">
            <div id="logo"><img src="{{ asset('bundles/front/img/logo.png') }}" alt="Homepage"></div>
            <h1 class="app-title">{{ app_name }}</h1>
        </a>
        <div id="cd-hamburger-menu"><a class="cd-img-replace" href="#">Menu</a></div>
    </header>

    {% include '@Front/navbar.html.twig' %}

    {% block body %}{% endblock %}
</div><!-- /container -->
{% block footer %}
    {% include 'FrontBundle::footer.html.twig' %}
{% endblock %}
{% block footer_javascripts %}
    {% javascripts
    'public/js/jquery-3.1.1.min.js'
    'public/js/bootstrap-notify.js'
    'public/js/dropzone.min.js'
    '@FrontBundle/Resources/public/js/modernizr.js'
    '@FrontBundle/Resources/public/js/main.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}
    <script type="text/javascript">
        function squareGrid() {
            $('.grid-item').each(function () {
                var childImg = $(this).find('.grid-item-picture');
                if (childImg.width() < childImg.height()) {
                    childImg.addClass('portrait');
                }
                $(this).css({'height': $(this).width() + 'px'});
            });
        }

        $(document).ready(function () {
            squareGrid();
            $(window).resize(function () {
                squareGrid();
            });
        });
        $(window).on("load", function () {
            $('.img-centered').each(function () {
                var imgHeight = $(this).height();
                var parentHeight = $(this).parent().height();
                this.style.marginTop = Math.ceil((parentHeight - imgHeight) / 2) + "px";
            });
        });

    </script>
{% endblock %}
</body>
</html>