<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% set _page_title = block('page_title') %}
        {% if _page_title is not empty %}
            {% autoescape 'html' %}
                {{ _page_title|raw }} |
            {% endautoescape %}
        {% endif %}
        {{ app_name }}
    </title>
    <meta name="description" content="{{ app_description }}"/>
    <link rel="shortcut icon" href="{{ asset('bundles/front/img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('bundles/front/img/favicon.ico') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700|Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.css') }}" type="text/css"/>
    {% stylesheets
    'css/bootstrap.css'
    'public/css/animate.css'
    'public/css/iconfont.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
    {% stylesheets filter='cssrewrite, scssphp' output="css/app.css"
    'bundles/front/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

{% if form is defined %}
    {% form_theme form '@Front/Twig/form/fields.html.twig' %}
{% endif %}

<body class="{% block body_class %}{% endblock %}">

{% for flashMessage in app.session.flashbag.get('success') %}
    <div id="messenger" class="messenger-success" data-message="{{ flashMessage|trans }}">
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('info') %}
    <div id="messenger" class="messenger-info" data-message="{{ flashMessage|trans }}">
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div id="messenger" class="messenger-error" data-message="{{ flashMessage|trans }}">
    </div>
{% endfor %}

<div class="container-fluid">
    <header>
        <a href="{{ path('front_homepage') }}">
            <div id="logo"><img src="{{ asset('bundles/front/img/logo.png') }}" alt="Homepage"></div>
            <h1 class="app-title">{{ app_name }}</h1>
        </a>
        <div id="cd-hamburger-menu"><a class="cd-img-replace" href="#">Menu</a></div>
    </header>

    {% include '@Front/navbar.html.twig' %}

    {% block body %}{% endblock %}

    {% include 'FrontBundle:Modals:beforeExit.html.twig' %}
</div><!-- /container -->
{% block footer %}
    {% include 'FrontBundle::footer.html.twig' %}
{% endblock %}
{% block footer_javascripts %}
    {% javascripts
    'public/js/jquery-3.1.1.min.js'
    'public/js/tether.min.js'
    'js/bootstrap.js'
    'public/js/bootstrap-notify.js'
    'public/js/js.cookie.js'
    'public/js/messenger.js'
    '@FrontBundle/Resources/public/js/modernizr.js'
    '@FrontBundle/Resources/public/js/main.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}
    <script type="text/javascript">
        function squareGrid() {
            $('.grid-item').each(function () {
                $(this).css({'height': $(this).width() + 'px'});
            });
        }

        $(document).ready(function () {
            squareGrid();
            $(window).resize(function () {
                squareGrid();
            });
            $('#post-form').submit(function () {
                document.getElementById("post-form-submit").style.display = "none";
                document.getElementById("post-form-wheel").style.display = "inline-block";
            });
        });
        $(window).on("load", function () {
            $('.img-centered').each(function () {
                var imgHeight = $(this).height();
                var parentHeight = $(this).parent().height();
                this.style.marginTop = Math.ceil((parentHeight - imgHeight) / 2) + "px";
            });
        });
        $(document).mouseleave(function () {
            var cookie = Cookies.get('FACEBOOK_POPIN_SHOWN');
            if (typeof cookie === 'undefined') {
                $('#js-modal-before-exit').modal('show');
                Cookies.set('FACEBOOK_POPIN_SHOWN', 'true', {expires: 600});
            }
        });
    </script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '151266185368113',
                xfbml: true,
                version: 'v2.8'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    {% if activate_tracking == 'true' %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-52343157-5', 'auto');
        ga('send', 'pageview');

    </script>
    <script>
        window['_fs_debug'] = false;
        window['_fs_host'] = 'www.fullstory.com';
        window['_fs_org'] = '2M3Q8';
        window['_fs_namespace'] = 'FS';
        (function (m, n, e, t, l, o, g, y) {
            if (e in m && m.console && m.console.log) {
                m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');
                return;
            }
            g = m[e] = function (a, b) {
                g.q ? g.q.push([a, b]) : g._api(a, b);
            };
            g.q = [];
            o = n.createElement(t);
            o.async = 1;
            o.src = 'https://' + _fs_host + '/s/fs.js';
            y = n.getElementsByTagName(t)[0];
            y.parentNode.insertBefore(o, y);
            g.identify = function (i, v) {
                g(l, {uid: i});
                if (v) g(l, v)
            };
            g.setUserVars = function (v) {
                g(l, v)
            };
            g.identifyAccount = function (i, v) {
                o = 'account';
                v = v || {};
                v.acctId = i;
                g(o, v)
            };
            g.clearUserCookie = function (c, d, i) {
                if (!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')) {
                    d = n.domain;
                    while (1) {
                        n.cookie = 'fs_uid=;domain=' + d +
                            ';path=/;expires=' + new Date(0).toUTCString();
                        i = d.indexOf('.');
                        if (i < 0)break;
                        d = d.slice(i + 1)
                    }
                }
            };
        })(window, document, window['_fs_namespace'], 'script', 'user');
        {% if is_granted('ROLE_USER') %}
        FS.identify('{{ app.user.publicId }}', {
            displayName: '{{ app.user.fullName }}',
            email: '{{ app.user.email }}'
        });
        {% endif %}
    </script>
    {% endif %}
{% endblock %}
</body>
</html>