{% set currentPath = app.request.attributes.get('_route') %}
<nav id="main-nav">
    <ul>
        <li class="{% if currentPath == 'front_homepage' %}active{% endif %}">
            <a href="{{ path('front_homepage') }}"><i class="lnr lnr-home icon-1_5x"></i></a>
        </li>
        <li class="{% if currentPath == 'front_user_profile' or currentPath == 'front_login' or currentPath == 'front_register' %}active{% endif %}">
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('front_user_profile', {'userId': app.user.publicId, 'fullName': app.user.fullName|lower|replace({' ':''})}) }}">
                    <i class="lnr lnr-user icon-1_5x"></i>
                </a>
            {% else %}
                <a href="{{ path('front_login') }}">
                    <i class="lnr lnr-user icon-1_5x"></i>
                </a>
            {% endif %}
        </li>
        {#{% if is_granted('ROLE_USER') %}#}
            {#<li class="{% if currentPath == 'front_post_add' %}active{% endif %}">#}
                {#<a href="{{ path('front_post_add') }}">#}
                    {#<i class="icon-photo-camera icon-1_5x"></i>#}
                {#</a>#}
            {#</li>#}
        {#{% endif %}#}
        {% if is_granted('ROLE_ADMIN') %}
            <li class="{% if currentPath == 'back_index' %}active{% endif %}">
                <a href="{{ path('back_index') }}">
                    <i class="lnr lnr-cog icon-1_5x"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>