{% extends '@Back/layout.html.twig' %}

{% block body %}
    <div class="card">
        <div class="header">
            <h4 class="title">User Invites</h4>
            <p class="category">Invite user by email</p>
        </div>
        <div class="content">
            {{ form_start(form) }}
            {% if form.vars.errors|length %}
                {% for error in form.vars.errors %}
                    <div class="alert alert-danger"><p>{{ error.message|trans }}</p></div>
                {% endfor %}
            {% endif %}
            <div class="form-group {% if form.email.vars.errors|length %} has-danger{% endif %}">
                <label>{{ 'user.form.placeholder.email'|trans }}</label>
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            <input class="btn btn-info btn-fill btn-block" type="submit"
                   value="{{ 'user_invite.action.invite'|trans }}"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}