{% extends '@Back/layout.html.twig' %}

{% block body %}
    <div class="card">
        <div class="header">
            <h4 class="title">User Invites</h4>
            <p class="category">Here is all the user invited</p>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Code</th>
                    <th>Full Name</th>
                    <th>Url</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for invite in invitations %}
                    <tr id="user-invite-{{ invite.id }}">
                        <td>{{ invite.email }}</td>
                        <td>{{ invite.code }}</td>
                        <td>{{ invite.invitingUser.fullName }}</td>
                        <td>{{ url('front_register', {'email': invite.email, 'code': invite.code})|trim }}</td>
                        <td class="td-actions text-right">
                            <button type="button" title="" class="btn btn-danger btn-simple btn-xs ajax-remove" data-url="{{ path('api_user_invite_delete', {'idUserInvite': invite.id}) }}" data-target="#user-invite-{{ invite.id }}">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <a href="{{ path('back_user_invite_add') }}">
        <button class="btn btn-info btn-fill">{{ 'user_invite.action.invite'|trans }}</button>
    </a>
{% endblock %}