{% extends '@Back/layout.html.twig' %}

{% block body %}
    <div class="card">
        <div class="header">
            <h4 class="title">Challenges</h4>
            <p class="category">Here is all the challenges</p>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>{{ 'challenge.element.name'|trans }}</th>
                    <th>{{ 'challenge.element.frequency'|trans }}</th>
                    <th>{{ 'challenge.element.is_featured'|trans }}</th>
                    <th>{{ 'challenge.element.subjects'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for challenge in challenges %}
                    <tr id="challenge-{{ challenge.id }}">
                        <td>{{ challenge.name }}</td>
                        <td>{{ ('challenge_frequency_type.'~challenge.frequency)|trans }}</td>
                        <td>{{ challenge.featured ? '<i class="fa fa-check"></i>':'' }}</td>
                        <td>
                            {{ challenge.subjects|length }}
                            <a href="{{ path('back_challenge_subject_index', {'idChallenge': challenge.id}) }}">
                                <button type="button"
                                        class="btn btn-secondary btn-xs">{{ 'challenge.action.show_subjects'|trans }}</button>
                            </a>
                        </td>
                        <td class="td-actions text-right">
                            <a href="{{ path('back_challenge_edit', {'idChallenge': challenge.id}) }}">
                                <button type="button" title="" class="btn btn-info btn-simple btn-xs">
                                    <i class="fa fa-pencil"></i>
                                </button>
                            </a>
                            <button type="button" title="" class="btn btn-danger btn-simple btn-xs ajax-remove"
                                    data-url="{{ path('api_challenge_delete', {'idChallenge': challenge.id }) }}"
                                    data-target="#challenge-{{ challenge.id }}">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <a href="{{ path('back_challenge_add') }}">
        <button class="btn btn-info btn-fill">{{ 'challenge.action.save'|trans }}</button>
    </a>
{% endblock %}