{% extends '@Back/layout.html.twig' %}

{% block body %}
    <div class="card">
        <div class="header">
            <h4 class="title">Challenges</h4>
            <p class="category">Here is all the challenges</p>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>{{ 'challenge_subject.element.name'|trans }}</th>
                    <th>{{ 'challenge_subject.element.type'|trans }}</th>
                    <th>{{ 'challenge_subject.element.start_submission'|trans }}</th>
                    <th>{{ 'challenge_subject.element.end_submission'|trans }}</th>
                    <th>{{ 'challenge_subject.element.cover_piture'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for challengeSubject in challengeSubjects %}
                    <tr id="challenge-subject-{{ challengeSubject.id }}">
                        <td>{{ challengeSubject.name }}</td>
                        <td>{{ ('challenge_subject_type.'~challengeSubject.type)|trans }}</td>
                        <td>{{ challengeSubject.startSubmissionDate|date('Y-m-d H:i:s')}}</td>
                        <td>{{ challengeSubject.endSubmissionDate|date('Y-m-d H:i:s') }}</td>
                        <td>{{ challengeSubject.coverPicture ? '<i class="fa fa-check"></i>':'' }}</td>
                        <td class="td-actions text-right">
                            <button type="button" title="" class="btn btn-info btn-simple btn-xs">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <a href="#">
        <button class="btn btn-info btn-fill">{{ 'challenge_subject.action.create'|trans }}</button>
    </a>
{% endblock %}